<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <script src="practice.js" defer></script>
        <title>1.9.7 v-model</title>
    </head>
    <body>
        <!--
            課題
            practice.jsに定義している「絵本の一覧」を用いて、
            チェックボックスを作成してください。
            
            仕様：
            ・"id"と"value"属性には「絵本の一覧」に定義されている"id"を使ってください。
            ・本の名前をチェックボックスのラベルとして表示させてください。
            ・ラベルを押下した際にチェックされるようにしてください。
            ・チェックボックスのリストの外側に、選択されている値を表示させてください。
        -->
        <div id="app">
            <ul>
                <li v-for="book in booksArray">
                    <input
                        type="checkbox"
                        :id="book.id"
                        :value="book.id"
                        v-model="checkboxMultiple"
                    />
                    <label :for="book.id">{{book.name}}</label><br />
                </li>
            </ul>
            {{ checkboxMultiple }}
        </div>
    </body>
</html>
