<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <script src="practice.js" defer></script>
        <title>17</title>
    </head>
    <body>
        <!-- 
            課題
            以下のdivタグに絵本の注文一覧を表示させてください。

            仕様：
            ・practice.jsに定義されている「絵本の一覧」ごとに注文の履歴を表示する
                絵本1
                    注文1
                    注文2
                注文2
                    注文1
                のような形式
            ・注文の一単位ずつ、「注文したユーザーのID」「注文した数量」「金額(絵本の価格×注文数)」を表示する
        -->
        <div id="app">
            <ul>
                <li v-for="book in booksArray" :key="book.id">
                    {{book.name}}
                    <ul>
                        <li v-for="order in book.order" :key="order.id">
                            注文したユーザーのID：{{order.user_id}}<br />
                            注文した数量：{{order.quantity}}<br />
                            金額：{{getAmount(book.price,order.quantity)}}
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </body>
</html>
