<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <script src="practice.js" defer></script>
        <title>27</title>
    </head>
    <body>
        <!-- 
            課題
            practice.jsに定義されている「商品一覧」を
            以下divタグ内に、Vueインスタンスをマウントしたうえで、
            ulタグとliタグを使って表示させてください.
            仕様：
                数量をプルダウンを使って0個から3個まで入力できるようにしてください。
                商品一覧の外側にボタン「前回の注文履歴を呼び出す」を表示させ、
                最新の注文履歴に設定されている数量をプルダウンに反映させてください。
        -->
        <div id="app">
            <ul>
                <li v-for="goods in goodsArray">
                    {{goods.name}}
                    <br />
                    数量：<select v-model="goods.quantity">
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                    </select>
                </li>
                <button @click="applyLastOrder">
                    前回の注文履歴を呼び出す
                </button>
            </ul>
        </div>
    </body>
</html>
