<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>
<body>
<form th:action="@{/user/confirm}" method="post" th:object="${userForm}">
    <ul th:if="${#fields.hasErrors('*')}">
        <li th:each="err:${#fields.errors('*')}" th:text="${err}"></li>
    </ul>
    ID:<input type="text" name="id" th:field="*{id}">
    名前:<input type="text" name="name" th:field="*{name}">
    分類:<select name="categoryId" th:field="*{categoryId}">
    <option
            th:each="categoryMaster : ${categoryMasterList}"
            th:value="${categoryMaster.id}"
            th:text="${categoryMaster.label}"
            th:selected="${categoryMaster.id == categoryId}"
    >
    </option>
</select>
    <button type="submit" class="btn btn-default">登録</button>
</form>
</body>
</html>
