<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8" />
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <script src="practice.js" defer></script>
        <link rel="stylesheet" type="text/css" href="styles.css" />
        <title>22</title>
    </head>
    <body>
        <!--
            課題
            以下divタグ内に、Vueインスタンスをマウントして、
            practice.js内に定義されている「停車駅一覧」の駅を表示させてください.
            
            仕様：
            ・一覧の上部に「特快停車駅のみ表示」というチェックボックスを作成すること
                チェックボックスの押下によって、「特快停車駅のみ表示」かどうかを切り替えること
            ・すべての駅について「駅のID」「駅名」を表示させること
            ・「特快停車駅」は水色の帯で表示させること(class="special-rapid"を指定)、
                そうでない駅はオレンジの帯で表示させること(class="rapid"を指定)
            ・ulタグとliタグを使って表示させること
        -->
        <div id="station-list">
            <input
                type="checkbox"
                name="dispOnlySpecialRapidStop"
                id="dispOnlySpecialRapidStop"
                v-model="dispOnlySpecialRapidStop"
            />
            <label for="dispOnlySpecialRapidStop">特快停車駅のみ表示</label>
            <ul>
                <li
                    v-for="station in stationsList"
                    :key="station.id"
                    v-show="dispStation(station.isSpecialRapidStop)"
                    :class="getStationNameClass(station.isSpecialRapidStop)"
                >
                    {{station.id}} {{station.name}}
                </li>
            </ul>
        </div>
    </body>
</html>
