/** common */
.input-item {
    display: flex;
    margin-bottom: 20px;
    align-items: center;
}

.input-item-name {
    font-size: 14px;
    font-weight: bold;
    width: 10%;
}

#input-container .input-item input,
.input-item select {
    width: 210px;
    height: 32px;
    border: 2px solid #e4e4e4;
    box-sizing: border-box;
    border-radius: 3px;
}

#container {
    background: #e4e4e4;
    border-radius: 10px;
    padding: 4px;
    margin: 30px auto;
}

#input-container,
#output-container {
    min-width: 775px;
    padding: 40px 20px;
    background: #fff;
    border-radius: 8px;
}

/** input-container */
#register-button {
    width: 500px;
    font-size: 20px;
    border-radius: 5px;
    font-weight: bold;
    color: #fff;
    border: 1px solid #4bd865;
    background-color: #4bd865;
    cursor: pointer;
}

#input-container {
    margin: 0px auto 30px auto;
}

/** output-container */
#output-container ul {
    list-style-type: none;
}

#output-container li {
    margin-bottom: 5px;
}

#output-container li span {
    margin-left: 10px;
}

.display-none {
    display: none;
}

.toggle-input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.toggle-label {
    width: 75px;
    height: 35px;
    background: #ccc;
    position: relative;
    display: inline-block;
    border-radius: 40px;
    transition: 0.4s;
    box-sizing: border-box;
    cursor: pointer;
}

.toggle-label:after {
    content: '';
    position: absolute;
    width: 35px;
    height: 35px;
    border-radius: 100%;
    left: 0;
    top: 0;
    z-index: 2;
    background: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    transition: 0.4s;
}

.toggle-input:checked + .toggle-label {
    background-color: #4bd865;
}

.toggle-input:checked + .toggle-label:after {
    left: 40px;
}

.toggle-button {
    position: relative;
    width: 75px;
    height: 35px;
}
