<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <script src="practice.js" defer></script>
        <title>1.10.1 総復習</title>
    </head>
    <body>
        <!--
            課題
                商品一覧画面を作成させてください。
                以下のdivタグの中に実装をしてください。
            仕様
                商品一覧は1.10.1.xlsxに記載されています
                「名前」「価格」を表示させてください。
                また、商品が絵本であれば、価格の後に文言「絵本」を付与してください。
                    値の書き換えがない想定のため、DOM自体を出力する・しないで出し分けをしてください。
                価格の表示は3桁区切りにしたうえで、末尾に文言「円」を付与してください
            -->
        <div id="app">
            <ul>
                <li v-for="goods in goodsArray" :key="goods.id">
                    <!-- 文字列を加工して返却する ⇒ filtersで実装-->
                    {{goods.name}} {{goods.price|dispPrice}}
                    <!-- DOM自体を出力する・しないで出し分ける ⇒ v-ifで実装 -->
                    <span v-if="goods.isPictureBook">絵本</v-if>
                </li>
            </ul>
        </div>
    </body>
</html>
