<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8" />
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <script src="practice.js" defer></script>
        <title>29</title>
    </head>
    <body>
        <!-- 
            課題
                試験結果を登録できるフォームと試験結果の表示欄を作成してください

                試験結果を登録できるフォームの仕様
                    ・「名前」「国語の点数」「数学の点数」「英語の点数」を入力できる
                    ・「点数を送信する」というボタンを下部に備える

                試験結果の表示欄の仕様
                    ・国語の平均点を表示する
                        末尾に文言「点」を付与する
                        受験者数0人の場合は0点として扱う    
        -->
        <div id="app">
            <div>
                <form @submit.prevent="postExamResult">
                    名前：<input type="text" name="name" v-model="name" /><br />
                    国語の点数：<input
                        type="number"
                        name="japanese"
                        v-model="japanese"
                    /><br />
                    数学の点数：<input
                        type="number"
                        name="math"
                        v-model="math"
                    /><br />
                    英語の点数：<input
                        type="number"
                        name="english"
                        v-model="english"
                    /><br />
                    <input type="submit" value="点数を送信" />
                </form>
            </div>
            <div>国語の平均点：{{japanseAverage|addSuffixOfPoint}}</div>
        </div>
    </body>
</html>
