.background {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
}
.background-disp {
    display: block;
}
.background-hide {
    display: none;
}
.modal {
    background-color: white;
    width: 40%;
    padding: 30px;
    margin: 30px auto 30px;
}
